.main{
    background-color: rgb(241, 230, 213);
}

.greet{
    font-size: x-large;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav{
    font-size: large;
    background-color: brown;
    border: 2px solid gold;
}

.cards{

    height: 80dvh;
    width: 50dvh;
}

.cards-im{
    height: 300px;
    width: 300px;
}

.cards-text{
    padding: 20px;
    align-items: center;
}

.numCont {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1rem;
}
.cont {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
#botonAlert{
    margin: 20px;
    justify-content: end;
}

h1{
    padding-top: 40PX;
    padding-bottom: 40PX;
    margin-bottom: 30PX;
    margin-left: 60px;
    text-align: center;  
    font-size: larger;  
}

